<div class="header">
  <h1 id="pageTitle">Domains</h1>
</div>

<input type="search" id="domainSearch" placeholder="durchsuchen...">
<a href="#addDomainModal" class="btn">
  <i class="mdi mdi-plus"></i> hinzufügen
</a>

<u2-table sortable>
  <table>
    <thead>
      <tr>
        <th>Domain
        <th>Status
        <th>Besitzer
        <th>Erstellt am
        <th width="33">Aktionen
      </tr>
    <tbody id="domainGrid">
  </table>
</u2-table>

<dialog id="addDomainModal" u2-navigable class="u2x-modal">
  <h2>Neue Domain hinzufügen</h2>
  <form id="addDomainForm">
    <label>
      Domain Name
      <input name="name" required placeholder="z.B. example.com">
    </label>
    <label>
      Runtime
      <select name="runtime">
        <option value="static">Static</option>
        <option value="deno">Deno</option>
      </select>
    </label>
    <div class="-buttons">
      <button>Domain hinzufügen</button>
      <button type="button" onclick="history.back()">Abbrechen</button>
    </div>
  </form>
</dialog>
