<div class="header">
    <h1>
        Nginx-Verwaltung
        <small id="status-badge" class="u2-badge"></small>
    </h1>
</div>

<div class="u2-grid">
    <div class="card">
        <button id="install" style="display: none;">Install</button>
        <button id="config">Konfiguration sicherstellen</button>
        <button id="start">Start</button>
        <button id="stop">Stop</button>
        <button id="restart">Restart</button>

        <a href="/files?file=%252F%252Fetc%252Fnginx%252Fnginx.conf">Main Config</a>        
    </div>
</div>

<div class="module-list card" style="margin-top:1rem">
    <u2-tabs>
        <h2>Trouble Shooting</h2>
        <div>
            <table id="troubleshootingTable">
                <tr>
                    <th>Status
                    <td><span id="statusCell" class="u2-badge">Loading...</span>
                <tr>
                    <th>Enabled
                        <small>(Nginx wird beim Systemstart gestartet)</small>
                    <td><span id="enabledCell" class="u2-badge">Loading...</span>
                <tr>
                    <th>Configuration check
                    <td id="configCheckCell">Loading...
                <tr>
                    <th>Logfile
                    <td>
                        <div id="logFileCell">Loading...</div>
                        <a href="/files?file=%252F%252Fvar%252Flog%252Fnginx%252Ferror.log">more...</a>
                <tr>
                    <th>Access Log
                    <td>
                        <pre id="accessLogCell">Loading...</pre>
                        <a href="/files?file=%252F%252Fvar%252Flog%252Fnginx%252Faccess.log">more...</a>
            </table>
            <br><br>
            <button>reload (todo)</button>
            <button id="viewFullStatus">View Full Status</button><br>
        </div>
        <h2>Module</h2>
        <div class="u2-grid" id="moduleList" style="--u2-Items-width: 16rem; gap:.4em">Loading...</div>
    </u2-tabs>

</div></div>
