<div class="header">
    <h1>Deno Konfiguration</h1>
</div>

<div class="u2-grid">

    <div class="card">
        <h2>Domains</h2>
        <table>
            <thead>
                <tr>
                    <th>Domain
                    <th>Läuft
                    <th>Version
            <tbody id="domainList">
                <tr><td colspan="2">Lädt...
        </table>
    </div>

    <div class="card">
        <h2>Installierte Versionen</h2>
        <table>
            <thead>
                <tr>
                    <th>Version
                    <th>Domains
                    <th>
            <tbody id="versionsList">
                <tr><td colspan="2">Lädt...
        </table>
    </div>
</div>

