<div class="header">
    <h1>Prozesse</h1>
</div>

<u2-table sortable>
    <table>
        <thead>
            <tr>
                <th>PID
                <th>Name
                <th>Benutzer
                <th>CPU
                <th>RAM
                <th>I/O Read
                <th>I/O Write
                <th>Startzeit
                <th>Ports
                <th>Parent
                <th>Kommando
                <th>
            </tr>
        </thead>
        <tbody id="processList">
            <tr>
                <td colspan="12">Lade Prozesse...</td>
            </tr>
        </tbody>
    </table>
</u2-table>