<div class="header">
  <h1 id="pageTitle">Domains</h1>
</div>

<div class="u2-grid">
  <div class="card">
    <h2>Basis Informationen</h2>
    <table>
      <tr>
        <td>Domain Name
        <td id="domainName">
      <tr>
        <td>Status
        <td id="domainStatus">
      <tr>
        <td>Besitzer
        <td id="domainOwner">
      <tr>
        <td>Erstellt am
        <td id="domainCreated">
    </table>
  </div>

  <div class="card">
    <h2>Runtime Informationen</h2>
    <table>
      <tr>
        <td>Runtime
        <td id="runtime">
      <tr>
        <td>Version
        <td id="runtimeVersion">
          <select><option>latest</option></select>
    </table>
  </div>

  <div class="card">
    <h2>Web Space & SSL</h2>
    <table>
      <tr>
        <td>SSL Status
        <td id="sslStatus">
      <tr>
        <td>SSL gültig bis
        <td id="sslExpiry">
      <tr>
        <td>Web Space Limit
        <td id="webspaceLimit">
      <tr>
        <td>Traffic Limit
        <td id="trafficLimit">
    </table>
  </div>

  <div class="card">
    <h2>Dateimanager</h2>
    <div>
      <a href="" id="fileManagerLink" class="btn">
        <i class="mdi mdi-folder"></i>
        Dateien verwalten
      </a>
    </div>
  </div>

  <div class="card">
    <h2>Datenbanken</h2>
    <table id="databasesList">
    </table>
  </div>

  <div class="card">
    <h2>E-Mail Konten</h2>
    <table id="mailsList">
    </table>
  </div>
</div>