<div class="header">
  <h1 id="pageTitle">Domain</h1>
</div>

<div class="u2-grid">

  <div class="card">
    <h2>Basis Informationen</h2>
    <table>
      <tr>
        <td>Domain Name
        <td id="domainName">
      <tr>
        <td>Status
        <td id="domainStatus">
      <tr>
        <td>Besitzer
        <td id="domainOwner">
      <tr>
        <td>Erstellt am
        <td id="domainCreated">
    </table>
  </div>

  <div class="card">
    <h2>Hosting</h2>
    <table>
      <tr>
        <td>Server Typ
        <td id="hostingType">
      <tr>
        <td>IP Adresse
        <td id="ipAddress">
      <tr>
        <td>PHP Version
        <td id="phpVersion">
      <tr>
        <td>FTP Zugang
        <td id="ftpUsername">
    </table>
    <div style="margin-top: 1rem;">
      <a id="fileManagerLink" href="#" class="btn">
        <i class="mdi mdi-folder"></i> Dateien verwalten
      </a>
    </div>
  </div>

  <div class="card">
    <h2>E-Mail Konten</h2>
    <table>
      <tbody id="mailsList">
    </table>
  </div>

  <div class="card">
    <h2>Datenbanken</h2>
    <table>
      <tbody id="databasesList">
    </table>
  </div>

</div>